{{ define "main" }}
<main>
  <article>
    <h1>{{ .Title }}</h1>
    <div style="color:#666;font-size:0.9em;margin-bottom:20px;">
      {{ if .Date }}{{ .Date.Format "2006-01-02" }}{{ end }}
    </div>
    {{ $content := .Content }}
    {{/* First handle wikilinks with text [[link|text]] */}}
    {{ $content = replaceRE "\\[\\[([^|\\]]+)\\|([^\\]]+)\\]\\]" "<a href=\"/concepts/$1/\">$2</a>" $content }}
    {{/* Then handle simple wikilinks [[link]] */}}
    {{ $content = replaceRE "\\[\\[([^\\]]+)\\]\\]" "<a href=\"/concepts/$1/\">$1</a>" $content }}
    {{ $content | markdownify }}
  </article>
</main>
{{ end }}
